.picture-of-the-day-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.potd-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.potd-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.potd-explanation {
  font-size: 16px;
  line-height: 1.5;
}
